.iconSidebarControl_expanded {
    height: 1000px;
}

.iconSidebarControl-content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: auto;
}

.iconSidebarControl-content .content {
      background-color: rgb(255, 255, 255);
}
/*
.iconSidebarControl {
    background-color: #4c5567 !important;
    height: 100%;
}
.iconSidebarControl-pane{
    padding: 0px !important;
}
.iconSidebarControl_opened {
    width: 415px !important;
}*/
