html, body {
    width: 100%;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    background-color: white;
    font-family: Arial;
}

h2 {
    text-align: center;
}

#map {
    height: 600px;
}

.wrap {
    width: 100%;
    height: 100%;
    margin: 0;
}
.left-panel {
    width: 360px;
    height: 100%;
    float: left;
    text-align: center;
}

.content {
    width: 100%;
}

.width-setting {
    vertical-align: middle;
}

.reset {
    width: 120px;
    margin: auto;
}

.div-table {
    margin: 8 0;
    display: table;
    width: auto;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 120px;
    max-width: 120px;
}

.div-table-col input {
    width: 120px;
    margin: 0;
}

.div-table-col .width-type {
    text-align: left;
}

.iconSidebarControl_expanded {
    height: 1000px;
}

.iconSidebarControl-content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: auto;
}

.iconSidebarControl-content .content {
      background-color: rgb(255, 255, 255);
}
/*
.iconSidebarControl {
    background-color: #4c5567 !important;
    height: 100%;
}
.iconSidebarControl-pane{
    padding: 0px !important;
}
.iconSidebarControl_opened {
    width: 415px !important;
}*/
