.gmx-style-editor-style-selector {
    cursor: pointer;
    width: 360px;
    height: 50px;
    /* border-bottom: 1px solid; */
    display: flex;
    align-items: center;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
    padding-left: 10px;
    padding-right: 10px;
}

.gmx-style-editor-style-selector-item-name {
    height: 18px;
    line-height: 18px;
    min-width: 80px;
    vertical-align: top;
}

.gmx-style-editor-style-selector-current-item-name {
    font-weight: bold;
    background-color: red;
}

.gmx-style-editor-style-selector-icon {
    margin-left: 5px;
}

.pt-popover {
    width: 390px;
}

.gmx-style-editor-style-selector-item {
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.gmx-style-editor-style-selector-current-item-name {
    font-weight: bold;
    width: 113%;
    display: flex;
    align-items: center;
    position: relative;
    right: 47px;
    padding-left: 54px;
    margin-right: -67px;
    padding-right: 48px;
    background-color: #ecf1f5!important;
    height: 50px!important;
}

.gmx-style-editor-style-selector-item:hover {

    background-color: #f4f8fb!important;
    height: 50px!important;
}

.gmx-style-editor-style-selector-current-item-name:hover {
    background-color: #f4f8fb!important;
    height: 50px!important;
}
