.gmx-style-editor-style-selector {
    cursor: pointer;
    /* width: 360px; */
    height: 50px;
    /* border-bottom: 1px solid; */
    display: flex;
    align-items: center;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
    padding-left: 10px;
    padding-right: 10px;
}

.gmx-style-editor-style-selector-item-name {
    height: 18px;
    line-height: 18px;
    /* min-width: 80px; */
    vertical-align: top;
}


.gmx-style-editor-style-selector-icon {
    margin-left: 5px;
}

.pt-popover {
    /* width: 390px; */
}

.gmx-style-editor-handler-panel {
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.gmx-style-editor-style-selector-item {
    cursor: pointer;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.gmx-style-editor-style-selector-current-item {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #d7e9f8!important;
    border-top: 1px #5CACEB;
    border-bottom: 1px #5CACEB;
    height: 50px!important;
    align-items: center;
    position: relative;
}

.gmx-style-editor-style-selector-current-item
.gmx-style-editor-style-selector-item-name {
    font-weight: bold;
}
.gmx-style-editor-style-selector-item:hover {

    background-color: #f4f8fb!important;
    height: 50px!important;
}
