.gmx-style-editor-block-big {
    height: 150px;
    padding-right: 15px;
}

.gmx-style-editor-block-small {
    height: 30px;
}

.gmx-style-editor-right {
    float: right;
    margin-right: 5px;
}

.gmx-style-editor-left {
    float: left;
    margin: 0 10px 0 5px;
}

.style-slider {
    vertical-align: middle;
    width: 80px;
    display: inline-block;
}

.gmx-style-editor-input-small {
    display: inline-block;
    margin: 0 5px 0 5px;
    width: 30px;
    height: 30px;
    color: #5b7284;
    text-align: center;
    text-indent: -2px;
    background: #f4f8fb;
    border: 1px solid rgba(0,0,0,0.2);
    padding-left: 2px;
}

.gmx-style-editor-input-big {
    display: inline-block;
    background: #FFF;
    margin: 0 5px 0 0;
    border: 1px solid rgba(0,0,0,0.2);
    /* margin: 0 5px 0 5px!important; */
    width: 137px;
    height: 30px;
    color: #5b7284;
    text-align: center;
    /* text-indent: -2px; */
    background: #f4f8fb;
    border: 1px solid rgba(0,0,0,0.2);
    /* padding-left: 2px; */
}

.gmx-style-editor-input-left {
    margin-right: 154px;
}

.gmx-style-editor-block-big textarea {
    resize: none;
    margin-bottom: 10px!important;
    background: #FFF;
    margin: 0 5px 0 0;
    border: 1px solid 1px solid rgba(216, 225, 232, 1);
    /* margin: 20px!important; */
    width: 137px;
    height: 80px;
    color: #5b7284;
    line-height: 30px;
    position: relative;
    top: 5px;
}

.gmx-style-editor-input-error {
    background-color: red;
}


.gmx-style-editor-block-big select {
    margin-right: 0;
    border: 1px solid 1px solid rgba(216, 225, 232, 1);
}

/*COLORPICKER*/
.gmx-style-editor-color-picker-container {
    border: 1px solid rgba(0,0,0,0.2);
    vertical-align: middle;
}

.gmx-style-editor-color-picker-inner {
    width: 100;
    height: 100%;
    border: 3px solid rgba(255,255,255,1);
    cursor: pointer;
}

.gmx-style-editor-color-picker-popover {
    position: absolute;
    right: 20px;
    z-index: 200000000000;
}

.gmx-style-editor-color-picker-cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
